
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #5d6367;
	
	background-color: #ffffff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.feature-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.main-header {
	background-color: #eeeeee;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	float: right;
	width: 800px;
	padding: 75px 20px 9px;
}

.logo {
	display: block;
	float: left;
	width: 160px;
	
	margin-right: 180px;
	padding-top: 50px;
	padding-left: 20px;
}

.logo:hover {
	opacity: 0.7;
}

.logo:active {
	opacity: 0.3;
}

.navigation-list {
	float: left;
	width: 600px;
	
	padding: 0;
	margin-right: 0 40px 0;
	
	font-size: 0;
}

.navigation-item {
	display: inline-block;
	margin-right: 47px;
	vertical-align: top;
	
	text-align: center;
}

.navigation-link {
	display: block;
	
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: medium;
	line-height: 30px;
	color: #000000;
}

.navigation-link:hover {
	color: #fb565a;
}

.navigation-link:active {
	color: #bababa;
}

.user-block {
	position: relative;
	float: right;
	width: 160px;
	
	padding-bottom: 9px;
	
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.user-block:hover {
	color: #fb565a;;
}

.user-block:active {
	color: #bababa;
}

.user-block::before {
	content: "";
	position: absolute;
	left: 45px;
	top: 7px;
	
	width: 16px;
	height: 16px;
	
	background-image: url("../img/basket.png");
}

.slider-container {
	position: relative;
	width: 1160px;
	height: 433px;
	padding: 0 20px;
	clear: both;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 18px;
	
	margin-left: -100px;
	
	text-align: center;
	z-index: 100;
}

.slider-controls i {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 3px;

	vertical-align: top;

	background: white;
	border: 5px solid white;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls .active{
	background: #c1c1c1;
}

.slider {
	/*position: absolute;*/
	padding-top: 70px;
	padding-bottom: 80px;
}

h2.title {
	margin: 0 0 26px 0;
	padding: 0;
	
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
	color: #000000;
}

.text-slider {
	margin-bottom: 39px;
}

.slider-container .slider:nth-child(2) {
	background: url("../img/slide1.png") no-repeat 432px bottom;
}

.slider-container .slider:nth-child(3) {
	display: none;
	background: url("../img/slide2.png") no-repeat 460px bottom;
}

.slider-container .slider:nth-child(4) {
	display: none;
	background: url("../img/slide3.png") no-repeat 400px bottom;
}

.slider-one {
	width: 460px;
}

.slider-two {
	width: 560px;
}

.slider-three {
	width: 460px;
}

.btn {
	display: block;
	padding: 16px 0;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;

	border-radius: 2px;
}

.btn-header {
	width: 240px;
	background-color: #fb565a;
}

.btn-header:hover {
	background-color: #e74246;
}

.btn-header:active {
	background-color: #d7373b;
	color: #e06366;
	box-shadow: inset 0px 2px 0px 0px #c13135;
}

.features {
	padding: 78px 20px;
}

.feature-item {
	float: left;
	width: 300px;
	margin-right: 100px;
}

.feature-item:last-child {
	float: left;
	margin-right: 59px;
}

.feature-title {
	margin-top: 18px;
	margin-bottom: 12px;

	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.feature-item .text {
	width: 260px;
	margin-bottom: 34px;

	font-weight: normal;
}

.btn-site {
	width: 160px;
	background-color: #fb565a;
}

.btn-site:hover {
	background-color: #e74246;
}

.btn-site:active {
	background-color: #d7373b;
	color: #e06366;
	box-shadow: inset 0px 2px 0px 0px #c13135;
}

.btn-application {
	width: 160px;
	background-color: #00ca74;
}

.btn-application:hover {
	background-color: #00bc6c;
}

.btn-application:active {
	background-color: #00aa62;
	color: #43c08b;
	box-shadow: inset 0px 2px 0px 0px #009958;
}

.btn-presentation {
	width: 160px;
	background-color: #efc84a;
}

.btn-presentation:hover {
	background-color: #eab534; 
}

.btn-presentation:active {
	background-color: #e5a722;
	color: #edc265;
	box-shadow: inset 0px 2px 0px 0px #ce961f;

}

.content {
	padding: 73px 20px 0 20px;
}

.content-title {
	display: block;
	margin-bottom: 34px;
	
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.column-right {
	float: right;
	width: 360px;

}

.column-right-item {
	display: inline-block;
	margin-right: 15px;
	
	vertical-align: top;
	
	font-size: 0;
}

.column-right-item:last-child {
	margin-right: 0px;
}

.column-left {
	float: left;
	width: 660px;
	margin-bottom: 50px;
}

.column-left .text {
	width: 618px;
	padding: 0;
	margin: 0 0 40px 0;
}

.detail {
	margin: 0 0 23px 0;
	
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.column-left-list {
	margin: 0;
	padding-left: 36px;
}

.column-left-list .text {
	position: relative;
	margin-bottom: 24px;
	
	list-style: none;
}

.column-left-list li::before {
	content: "";
	position: absolute;
	left: -38px;
	top: 5px;
	
	width: 30px;
	height: 14px;
	
	background: url("../img/line.jpg") no-repeat center center;
}

.column-right {
	margin-top: -34px;
}

.column-right-img {
	margin-bottom: 30px;
}

.column-right .detail {
	padding-left: 18px;
	margin-bottom: 50px;
}

.column-right-list {
	padding: 0;
	font-size: 0;
}

.column-right-item {
	display: inline-block;
	width: 100px;
	
	margin-right: 20px;
	vertical-align: top;
	
	font-size: 16px;
	line-height: 18px;
}

.number {
	font-size: 45px;
	line-height: 10px;
	font-weight: bold;
	text-align: center;
	font-weight: normal;
	color: #000000;
}

.number > sup {
	font-size: 25px;
}

.column-right-item > p {
	margin-top: 22px;
}

.section-logo {
	margin-bottom: 80px;
	font-size: 0;
}

.section-link {
	display: inline-block;
	width: 300px;
	height: 180px;
	
	vertical-align: top;
	
	font-size: 16px;
	opacity: 0.3;
}

.htmlacad-link::after {
	content: "";
	position: absolute;
	top: -2px;
	left: 278px;
	
	width: 5px;
	height: 188px;
	
	padding-left: 38px;
	background: url("../img/grey-line.png") no-repeat 50% 50%;
}

.borod-link::after {
	content: "";
	position: absolute;
	left: 278px;

	width: 5px;
	height: 188px;
	
	padding-left: 38px;
	background: url("../img/grey-line.png") no-repeat 50% 50%;
}

.pink-link::after {
	content: "";
	position: absolute;
	left: 278px;

	width: 5px;
	height: 188px;
	
	padding-left: 38px;
	background: url("../img/grey-line.png") no-repeat 50% 50%;
}

.section-link:hover {
	opacity: 1;
}

.section-link:active {
	opacity: 0.1;
}

.htmlacad-link {
	position: relative;
	background: url("../img/htmlacademy.png") no-repeat 50% 62px;
}

.borod-link {
	position: relative;
	background: url("../img/borodinski.png") no-repeat 50% 47px;
}

.pink-link {
	position: relative;
	background: url("../img/pink.png") no-repeat 50% 66px;
}

.mishka-link {
	background: url("../img/mishka.png") no-repeat 50% 53px;
}

.map {
	position: relative;
	height: 416px;
	/*background: url("../img/map-mark.jpg");*/
}

.address {
	position: absolute;
	top: 54px;
	left: 52px;
	
	width: 220px;
	
	padding: 48px 48px 48px 48px;
	background: #ffffff;
}

.name {
	margin: 0px;
	
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.address .text {
	width: 208px;
	margin-top: 24px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #707070;
}

.text-number {
	width: 208px;
	
	margin-top: 18px;
	margin-bottom: 38px;

	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #707070;

}

.btn-contact-us {
	width: 100%;
	padding: 16px 0;
	background-color: #fb565a;
}

.main-footer {
	padding: 70px 0; 
}

.social {
	float: left;
	width: 262px;
	
	padding-left: 20px;
	margin-right: 138px;
	
	font-size: 0;
}

.social-btn {
	display: inline-block;
	
	width: 80px;
	height: 80px;
	
	vertical-align: top;
	margin-right: 10px;
	
	border-radius: 50%;
	font-size: 0;
}

.social-btn:hover {
	background-color: #e74246;
}

.social-btn-inst {
	margin-right: 0;
	background: #e1e1e1 url("../img/insta-icon.png") no-repeat 50% 50%;
}

.social-btn-inst:active {
	/*height: 59px;*/
	/*width: 59px;*/

	background: #d7373b url("../img/insta-active.png") no-repeat 50% 50%;
	box-shadow: inset 0px 2px 0px 0px #c13135;
}

.social-btn-vk {
	background: #e1e1e1 url("../img/vk-icon.png") no-repeat 50% 50%;
}

.social-btn-vk:active {
	/*height: 59px;
	width: 59px;*/
	
	background: #d7373b url("../img/vk-active.png") no-repeat 50% 50%;
	box-shadow: inset 0px 2px 0px 0px #c13135;
	
}

.social-btn-fb {
	background: #e1e1e1 url("../img/fb-icon.png") no-repeat 50% 50%;
}

.social-btn-fb:active {
	/*height: 59px;
	width: 59px;*/
	
	background: #d7373b url("../img/fb-active.png") no-repeat 50% 50%;
	box-shadow: inset 0px 2px 0px 0px #c13135;
}

.befriend {
	float: left;
	width: 560px;
	
	padding-top: 6px;
	
	font-weight: bold;
}

.befriend .footer-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.footer-text {
	margin-top: 9px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #707070;
}

.modal-content {
	display: none;
}

@keyframes bounce {
  0%   {
    transform: translateY(-100px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-content-show {
	display: block;
	animation: bounce 1s;
}

.modal-content {
	position: absolute;
	top: -138px;
	left: 50%;
	width: 763px;
	margin-left: -480px;
	
	padding: 74px 100px 86px 100px;
	box-shadow: 0 0 10px #eeeeee;
	background-color: #ffffff;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
	
	color: #000000;
	z-index: 10000;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10px;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
}

.popup-button {
	position: absolute;
	top: 77px;
	right: 92px;
	
	width: 22px;
	height: 22px;
	
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.popup-button::before,
.popup-button::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	
	width: 19px;
	height: 3px;
	
	background-color: #fecccd;
	border-radius: 1px;
}

.popup-button::before {
	transform: rotate(45deg);
}

.popup-button::after {
	transform: rotate(-45deg);
}

.popup-button:hover::before,
.popup-button:hover::after {
	background-color: #fb565a;
}
.popup-button:active::before,
.popup-button:active::after {
	background-color: #ffeeee;
}

.popup-title {
	margin: 0 0 50px 0;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: normal;
}

.popup-form {
	font-size: 0;
}

.user-data {
	box-sizing: border-box;
	display: inline-block;
	
	vertical-align: top;
	width: 360px;
	
	margin: 0 0 38px 0;
}

.user-data:nth-child(2) {
	margin-left: 40px;
}

.user-field:hover {
	color: #b4b9bb;
	border: 2px solid #b4b9bb;
}

.user-field:focus {
	color: #000000;
	border: 2px solid #000000;
}

.user-field:invalid {
	color: #e74246;
	border: 2px solid #e74246;
}

.email-field {
	margin-right: 0;
}

.user-title {
	display: block;
	width: 100px;
	
	margin-bottom: 12px;
	
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.user-field {
	box-sizing: border-box;
	width: 360px;
	
	padding: 16px 0px 16px 16px;
	
	border: 2px solid #d7dcde;

}

:focus::-webkit-input-placeholder {
  color: transparent;
}

 
:focus::-moz-placeholder {
  color: transparent;
}
 
:focus:-moz-placeholder {
  color: transparent;
}
 
:focus:-ms-input-placeholder {
  color: transparent;
}

textarea {
	width: 740px;
	
	padding: 16px 0 0 16px;
	
	border: 2px solid #d7dcde;
}

input, textarea, button {outline: 0;}

input[placeholder],
textarea[placeholder] {
	color: #a1a1a1;
}

input[type="submit"] {
	color: #ffffff;
	border: none;
}

.user-text {
	margin-bottom: 48px;
}

.user-text .user-title {
	display: block;
	width: 110px;
	
	margin-bottom: 15px;
}

.letter {
	display: block;
	margin-bottom: 48px;
}

.btn-send {
	width: 260px;
	background-color: #fb565a;
}

.main-navigation .active-menu {
	position: relative;
	background-color: none;
}

.main-navigation .active-menu::after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0;
	
	width: 100%;
	height: 5px;
	
	background-color: #fb565a;
}

h1.title {
	padding: 70px 0 112px 0;
	margin: 0;
	
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	font-weight: normal;
	color: #000000;
	
	clear: both;
}

.main-filter {
	float: left;
	width: 260px;
	
	padding-left: 20px;
	margin-right: 140px;
	
	font-size: 16;
	line-height: 20px;
	font-weight: normal;
	color: #283136;
}

.range-filter {
	margin-bottom: 57px;
}

.range-filter .filter-title {
	padding: 50px 0;
}


.filter-grid .filter-title {
	padding: 0 0 15px;
}

.filter-qualities .filter-title {
	padding: 46px 0 22px;
}

.range-controls {
	position: relative;
	height: 41px;
	
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	
	border-radius: 5px;
	background: #f1f1f1;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	
	width: 4px;
	height: 4px;
	cursor: pointer;
	
	border: 8px solid #fff;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 145px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	font-size: 16px;
	display: inline-block;
	width: 50%;
}

.max-price {
	text-align: right;
}

.price-controls input {
	width: 60px;
	
	margin-left: 10px;
	padding: 8px 10px;
	
	font-size: 16px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.filter-title {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.filter-price {
	font-size: 18px;
}

.filter-price .filter-title {
	padding: 50px 0;
}

.filter-price .filter-type {
	padding: 56px 0 44px;
}

.filter-price .filter-order {
	padding: 58px 0 42px;
}

.filter-list {
	margin: 0;
	padding: 0;
}

.list {
	list-style-type: none;
	margin-bottom: 20px;
}

.list:hover {
	color: #000000;
}

.list:active {
	color: #ededed;
}

.radio-type {
	position: relative;
	padding-left: 36px;
	cursor: pointer;
}

.radio-type input[type="radio"] {
	display: none;
}

.radio-indicator {
	position: absolute;
	top: -4px;
	left: 0px;
	
	width: 25px;
	height: 25px;
}

.radio-type input[type="radio"] + .radio-indicator {
	background: url("../img/radio-off.png") no-repeat 50% 50%;
}

.radio-type input[type="radio"]:checked + .radio-indicator {
	background: url("../img/radio-on.png") no-repeat 50% 50%;
}

.checkbox-type {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
}

.checkbox-type input[type="checkbox"] {
	display: none;
}

.checkbox-indicator {
	position: absolute;
	top: -4px;
	left: 0px;
	
	width: 25px;
	height: 25px;
}

.checkbox-type input[type="checkbox"] + .checkbox-indicator {
	background: url("../img/checkbox-off.png") no-repeat 50% 50%;
}

.checkbox-type input[type="checkbox"]:checked + .checkbox-indicator {
	background: url("../img/checkbox-on.png") no-repeat 50% 50%;
	width: 25px;
	height: 25px;
}

.filter-list li:last-child {
	margin-bottom: 0;
}

.filter-qualities {
	margin-bottom: 50px;
}

.filter-qualities .filter-title {
	padding-bottom: 15px;
}

.btn-filter {
	box-sizing: border-box;
	width: 260px;
	
	background-color: #eeeeee;
	color: #000000;
	border: none;
}

.btn-filter:hover {
	background: #dfdfdf;
}

.btn-filter:active {
	position: relative;
	top: 0;
	left: 0;
	
	background-color: #d5d5d5;
	color: #a6a6a6;
	box-shadow: inset 0px 2px 0px 0px #dfdfdf;
}

.pattern-box {
	float: right;
	width: 760px;
	padding-right: 20px;
	
	font-size: 0;
}

.filter-price .filter-title {
	float: left;
	width: 360px;

}

.filter-type {
	float: left;
	width: 300px;
	
	margin: 0;
	margin-left: 40px;
	padding-top: 53px;
	
	font-size: 0px;
}

.filter-type-list {
	display: inline-block;
	vertical-align: top;
	padding-right: 25px;
	
	font-size: 14px;
	line-height: 18px;
}

.filter-type-link {
	text-decoration: none;
}

.filter-type-link {
	color: #b2b2b2;
	text-transform: uppercase;
}

.filter-type-link:hover {
	color: #666666;
}

.filter-type-link .active-link:active {
	color: #000000;
}

.filter-type-link:active {
	color: #000000;
}

.filter-order {
	float: right;
	width: 40px;
	
	margin: 0 0 0 20px;
	padding: 18px 0;
	
	font-size: 0;
}

.sort {
	display: inline-block;
	vertical-align: top;
	width: 12px;
	
	padding-top: 14px;
}

.sort-down {
	margin-right: 16px;
	background: url("../img/sort-down.png") no-repeat 50% 50%;
	opacity : 0.2;
}

.sort-down:hover {
	opacity: 0.5;
}

.sort-up {
	background: url("../img/sort-up.png") no-repeat 50% 50%;
	opacity : 0.2;
}

.sort-up:hover {
	opacity : 0.5;
}

.sort .active-link {
	opacity: 1;
}

.pattern {
	position: relative;
	display: inline-block;
	width: 360px;
	
	margin-bottom: 36px;
	
	font-size: 0;
	vertical-align: top;
}

.pattern:nth-child(2n+1) {
	margin-right: 40px;
}


.broswer {
	height: 30px;
	padding: 3px 0 5px 18px;
	background-color: #e9e9e9;
}

.broswer span {
	display: inline-block;
	vertical-align: bottom;
	width: 15px;
	height: 15px;
	
	margin-right: 8px;
	background-color: #ffffff;
	border-radius: 50%;
}

.pages-box {
	margin: 9px 0 60px;

	font-size: 0;
	font-weight: normal;
}

.site-hover {
	display: none;
	position: absolute;
	bottom: 0;
	width: 360px;
	
	padding: 30px 0 44px;
	
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: #8a8a8a;
	background-color: #e9e9e9;
}

.pattern:hover .site-hover {
	display: block;
}

.pattern:hover .broswer {
	background-color: #4d4d4d;
}

.pattern:hover {
	box-shadow: -8px -7px 17px -1px #eeeeee;
}

.site-hover-title {
	margin-top: 0;
	margin-bottom: 21px;
	
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}

.site-hover-btn {
	display: block;
	width: 200px;
	
	margin: 0 auto;
	margin-top: 28px;
	padding: 18px 0;
	
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: #fb565a;
	color: #ffffff;
}

.site-hover-btn:hover {
	background-color: #e74246;
}

.site-hover-btn:active {
	background-color: #d7373b;
	box-shadow: inset 0px 2px 0px 0px #c13135;
}

.sedona {
	width: 200px;
	margin: 0 auto;
}

.pink {
	width: 240px;
	margin: 0 auto;
}

.barbershop {
	width: 180px;
	margin: 0 auto;
}

.mishka {
	width: 160px;
	margin: 0 auto;
}

.plus {
	width: 240px;
	margin: 0 auto;
}

.kvast {
	width: 240px;
	margin: 0 auto;
}

.map {
	clear: both;
}

.border-main {
	padding: 0 20px;

}

.border-main .border {
	height: 2px;
	width: auto;
	background-color: #eeeeee;
}

.page {
	display: inline-block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	
	margin-right: 10px;
	
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	text-decoration: none;
	color: #000000;
	background-color: #eeeeee;
}

.page:hover {
	background-color: #dfdfdf;
}

.page:active {
	color: #b7b7b7;
	background-color: #d5d5d5;
	box-shadow: inset 0px 2px 0px 0px #bfbfbf;
}

.page-next {
	width: 262px;
}

.page-active {
	line-height: 44px;
	background-color: #ffffff;
	border: 3px solid #eeeeee;
}