html,
body {
  min-width: 1440px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
	font-family: "Roboto";
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #363f43;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.feature-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.main-navigation {
	width: 1160px;
	min-height: 112px;

}

.logo {
	float: left;
	width: 160px;
}

.navigation-list {
	float: left;
	width: 560px;
	margin-left: 140px;
}

.user-block {
	float: right;
	width: 160px;

}

.slider {
	margin-bottom: 79px;
}

.title {
	float: left;
	width: 1160px;
	margin: 0;
	margin-top: 87px;
	margin-bottom: 26px;
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
	color: #000000;
}

.slider .text {
	float: left;
	width: 1160px;
	margin: 0;
	margin-bottom: 41px;
}

.btn-header {
	float: left;
	width: 240px;
}

.features {
	margin-bottom: 164px;
}

.feature-item {
	float: left;
	width: 300px;
	margin-right: 100px;
}

.feature-item:last-child {
	float: right;
	margin-right: 60px;
}

.content {
	margin-bottom: 78px;
}

.column-right {
	float: right;
	width: 360px;

}

.column-right-item {
	display: inline-block;
}

.section-logo {
	height: 184px;
	margin-bottom: 82px;
	font-size: 0;
}

.section-link {
	display: inline-block;
	width: 290px;
}

.column-left {
	float: left;
	width: 660px;
}

.map {
	height: 416px;
}

.address {
	width: 320px;
	height: 312px;
	margin-bottom: 54px;
	margin-top: 54px;
	margin-left: 140px;
}

.footer {
	min-height: 217px;
}

.social {
	float: left;
	width: 260px;
	margin-right: 140px;
}

.befriend {
	float: left;
	width: 560px;
}

.main-filter {
	float: left;
	width: 260px;
	min-height: 830px;
	margin-right: 140px;
}

.filter-price {
	font-size: 18px;
}

.pattern-box {
	float: right;
	width: 760px;
	min-height: 2050px;
	font-size: 0;
}

.pattern {
	display: inline-block;
	width: 360px;
	margin-bottom: 36px;
}

.pattern:nth-child(2n+1) {
	margin-right: 40px;
}

.pages-box {
	font-size: 18px;
	min-height: 50px;
	margin-top: 18px;
}